{{define "style"}}
<style>
</style>
{{end}}

{{define "content"}}
<h1>Cron</h1>

  <table>
    <tr>
      <th></th>
      <th>Job</th>
      <th>Scheduled</th>
      <th></th>
      <th>Next run</th>
      <th></th>
    </tr>
  {{range $index, $j := .CronJobs}}
    <tr>
      <td>{{$j.ID}}</td>
      <td>{{$j.Name}}</td>
      <td>{{$j.Schedule}}</td>
      <td>{{$j.Enabled}}</td>
      <td>{{$j.NextRun}}</td>
      <td>
        <a id="run-now" href="/admin/cron/{{$j.ID}}/run-now">Run now</a> &bull;
        <a href="">Edit</a> &bull;
        <a href="/admin/cron/{{$j.ID}}/delete">Delete</a>
      </td>
    </tr>
  {{end}}
  </table>
  <a href="/admin/cron/add">Add</a>
  <script>
    $("#run-now").on("click", function(event) {
      $.ajax({
        "url": $(this).attr("href"),
        "method": "POST",
        "success": function() {
          this.location.reload();
        }
      });
      event.preventDefault();
    });
  </script>
{{end}}
