{{ define "base" }}
<!DOCTYPE html>
<head>
  <title>{{block "title" .}}Podcreep{{end}}</title>
  <link rel="stylesheet" href="/admin/static/style.css">
  {{block "style" .}}{{end}}
</head>
<body>
  <section id="mainnav">
    <ul>
      <li><span>Podcasts</span>
        <ul>
          <li><a href="/admin/podcasts">View</a>
          <li><a href="/admin/podcasts/add">Add podcast</a>
        </ul>
      <li><span>Cron</span>
        <ul>
          <li><a href="/admin/cron">View</a>
        </ul>
    </ul>
  </section>
  <section id="maincontent">
    {{template "content" .}}
  </section>
  {{block "js" .}}{{end}}
</body>
{{ end }}