{{define "style"}}
<style>
  .title {
    font-size: 200%;
    font-weight: bold;
  }

  div.episode {
    clear: both;
    border: solid 1px black;
    height: 100px;
    width: 800px;
    cursor: pointer;
  }

  div.episode div {
    margin: 10px 0 10px 110px;
  }
  div.episode div.date {
    float: right;
  }

  input {
    width: 800px;
  }
  textarea {
    width: 800px;
    height: 200px;
  }
</style>
{{end}}

{{define "content"}}
  <form method="post" action="/admin/podcasts/{{.Podcast.ID}}">
    <input type="hidden" name="ID" value="{{.Podcast.ID}}">
    <p><input type="text" name="Title" class="title" value="{{.Podcast.Title}}"></p>
    <p><textarea name="Description">{{.Podcast.Description}}</textarea></p>
    <p><b>Image:</b> <input type="text" name="ImageUrl" value="{{.Podcast.ImageURL}}" ></p>
    <p>
      <img src="{{.Podcast.ImageURL}}?width=100&height=100" width="100" />
      <button onclick="refreshPodcastIcon({{.Podcast.ID}}); return false;">Refresh icon</button>
    </p>
    <p><b>URL:</b> <input type="text" name="FeedUrl" value="{{.Podcast.FeedURL}}"></p>
    <p>
      <button type="submit">Save</button>
      <button onclick="refreshPodcast({{.Podcast.ID}}); return false;">Refresh</button>
    </p>
  </form>

  {{range $index, $ep := .Episodes}}
  <div class="episode">
    <div class="date">{{$ep.PubDate}}</div>
    <div>{{$ep.Title}}</div>
    <div>{{$ep.ShortDescription}}</div>
  </div>
  {{end}}

  <script>
    function refreshPodcast(id) {
      $.ajax({
        "url": "/admin/podcasts/" + id + "/refresh",
        "method": "POST",
        "success": function() {
          location.reload();
        }
      });
    }

    function refreshPodcastIcon(id) {
      $.ajax({
        "url": "/admin/podcasts/" + id + "/refresh?iconOnly=1",
        "method": "POST",
        "success": function() {
          location.reload();
        }
      });
    }
  </script>
{{end}}
